<%= render 'shared/topnav' %>

<div class="books">
      <div class="book">
        <div class="row">
          <div class="col-md-2">
            <h2>Books</h2>
            <p>All the books!</p>
          </div>
        </div>
      </div>
    </div>

<table class="table">
  <thead>
    <tr>
      <th><%= link_to "Book", :sort => "name" %></th>
      <th><%= link_to "ISBN", :sort => "ISBN" %></th>
      <th><%= link_to "Status", :sort => "status" %></th>
    </tr>
  </thead>

  <tbody>
    <% @books.each do |b| %>
      <tr>
        <td>
            <%= b.name %>
        </td>
        <td>
            <%= b.isbn %>
        </td>
        <td>
            <%= b.status %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
